<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AllTestsSuite">
    <listeners>
        <listener class-name="io.qase.testng.QaseListener"/>
    </listeners>

    <test name="AllTests">
        <packages>
            <package name="com.example.tests"/>
        </packages>
    </test>
</suite>